@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}


a {
  font-weight: 500;
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

button {
  all: unset;
  border-radius: 8px;
  padding: 0.6em 1.2em;
  background-color: #14AE5C;
  color: white;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: #0e8a46;
}
